# Ignore virtual environment
venv/

# Ignore Python bytecode files
__pycache__/

# Ignore .env file for sensitive information
.env

# Ignore DuckDB database and associated files
marketing_data.duckdb
marketing_data.duckdb.wal

# Ignore the my_db database
my_db

# # # Ignore log files
# sync_log.txt
